*{
    box-sizing: border-box;
    margin: 0;
    }
body{
background-color:teal;
padding: 10px;
}
  .main-header{
      background-color:beige;
      display: flex;
      justify-content: center;
      
  }  

  .header_logo{
      padding: 20px;
      cursor: pointer; 
  }
  .social_nav{
      margin-left: 30%;
  }
  
    ul li {
        display:inline-flex;
        justify-content:center;
        align-items:center;
        overflow: hidden;
        list-style:none;
        cursor: pointer;
    }

    ul li a {
     color:darkgrey;
     text-decoration:none;
     padding: 20px;

    }

.break_nav{
    width:100%;
    height: 2px;
    background-color: palevioletred;

}